<hr>
<footer class="site-footer container">
  <div class="footer-columns" style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 2rem 0; font-size: 0.9em;">
    
    <div style="min-width: 200px;">
      <strong>The Static Screen</strong><br>
      Jacen Hyde // Static<br>
      <a href="mailto:jacenhydealt@gmail.com">jacenhydealt@gmail.com</a>
    </div>

    <div style="min-width: 200px;">
      <a href="https://github.com/jacenhyde" target="_blank">📘 jacenhyde</a><br>
      <a href="https://www.linkedin.com/in/jacen-hyde-netsec1/" target="_blank">📄 jacen-hyde-netsec1</a><br>
      <a href="/feed.xml" target="_blank">🔗 rss</a>
    </div>

    <div style="min-width: 200px;">
      Static's Cybersecurity Blog
    </div>
  </div>
</footer>
